#paginator {
  width: 400px;
  height: 24px;

  position: absolute;
  top: 104px;
  left: 151px;

  display: grid;
  grid-template-columns: repeat(10, 24px);
  grid-template-rows: 24px;
  column-gap: 10px;
}

.page-number {
  background-size: cover;
}
